node_modules/

dist
dist-ssr
*.local
build

npm-debug.log*
.npm/
.vite/
.eslintcache
.prettiercache
*.tsbuildinfo

.env
.env.*.local

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

